nav.navbar {
	@include transition(all 0.5s ease);
	@include rem((margin: 0));
	background: transparent;
	border-right: 10px solid $color-red-t2w;
}

nav.navbar.scroll {
	@include transition(all 0.5s ease);
	background: $color-white;
	box-shadow: 0 1px 3px rgba(0,0,0,.1);

	.nav > li > a {
		color: $color-black-medium;

		&:hover {
			text-decoration: underline;
		}
	}

	h1 a.navbar-brand {
		background: url("./../assets/logo/team2work.svg") no-repeat;
		font-family: "ASans";
	}
}

h1 a.navbar-brand {
	@include transition(all 0.5s ease);
	text-indent: -999px;
	background: url("./../assets/logo/team2work-white.svg") no-repeat;
	display: block;
	width: 220px;
	height: 130px;
	font-family: "ASans";

	&.shrink {
		@include transition(all 0.5s ease);
		width: 130px;
		height: 80px;
	}
}
@media (max-width: $screen-md) {
	h1 a.navbar-brand {
		width: 130px;
		height: 80px;
	}
}

.navbar-right {
	@include rem((margin: 15px 15px 0 0));
}
/* iPad mini Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
	.navbar-right {
		@include rem((margin: -65px -50px 0 0));
	}
}
/* ipad 3 & 4 */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
	.navbar-right {
		@include rem((margin: -65px -50px 0 0));
	}
}

.nav > li > a {
	color: $color-white;

	&:focus,
	&:hover {
		@include transition(all .3s ease);
		background-color: transparent;
		text-decoration: none;
		color: $color-red-t2w;
		border-bottom: none;
	}
}

.navbar-toggle {
	@include rem((margin-top: 27px));

	.icon-bar {
		background-color: $color-red-t2w;
	}
}

.navbar-collapse.in {
	background: $color-white;
	@include rem((margin: 0 -15px));
	@include rem((padding: 0 30px));
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

	.nav > li > a {
		color: $color-black-medium;
	}
}
@media (max-device-width: 480px) and (orientation: landscape) {
	.navbar-fixed-bottom .navbar-collapse,
	.navbar-fixed-top .navbar-collapse {
		max-height: 220px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.navbar-right {
		@include rem((margin: 0 ));
		position: relative;
		left: 70px;
		top: -65px;
	}
}

.navbar-collapse.in .nav > li > a:hover {
	text-decoration: underline;
}
