@import "../main";

// Wrapper
.wrapper {
	background: $color-white;
}
// Hero Image

.section-hero {
	@extend %hero;
	height: 600px;

	h1.startpage {
		@include rem(font-size, 46px);
		line-height: 56px;
		font-family: 'Open Sans';
		font-weight: bolder;
		text-transform: uppercase;
	}

	h2.startpage {
		@include rem(font-size, 24px);
		font-family: 'Open Sans';
		font-weight: lighter;
	}

	.hero-image {
		background-color: $color-black;
		top: -80px;

		.image-src {
			opacity: 0.6;
		}
	}
}
// Jobs Overview

.jobs-overview {
	@include rem((margin-bottom: 60px));

	h2.title {
		@include rem((margin: 60px 0 40px 0));
		text-align: center;
		font-weight: bold;
	}

	ul.jobs {
		@include rem((margin-top: 14px));
		@include rem((margin-bottom: 14px));

		li {
			@include rem((margin-bottom: 30px));
			@include rem((padding: 0));
			background: $color-gray-light;
			list-style-type: none;

			.title {
				display: flex;
				align-items: center;
				min-height: 80px;
			}

			a {
				color: $color-black-medium;
				text-align: center;
				display: block;

				&:hover {
					text-decoration: none;
				}

				.link {
					@include rem((padding: 0));
					@include rem((margin: 0));
					@include transition(all 0.5s ease);
					min-height: 80px;
					display: flex;
					align-items: center;
					justify-content: center;
					background: $color-gray-medium;

					&:hover {
						@include transition(all 0.5s ease);
						background: rgba($color-black-medium, 0.3);
					}
				}
			}
		}
	}
}

a.btn-more-jobs {
	@include transition(all 0.5s ease);
	@include rem((margin-right: 15px));
	background: transparent;
	color: $color-black-medium;
	border-radius: 0;
	border: 2px solid $color-red-t2w;

	&:hover {
		@include transition(all 0.5s ease);
		background: $color-red-t2w;
		border: 2px solid $color-red-t2w;
		color: $color-white;
	}
}
@media (max-width: $screen-md) {
	ul.jobs {
		@include rem((padding: 0));
	}
}
// Service Overview

.service-overview {
	@include rem((margin: 60px auto 0px auto));

	img.field-icons {
		@include rem((margin: 0 auto 40px auto));
		width: 100px;
		height: 100px;
		display: block;
	}

	h2.title {
		@include rem((margin: 0px 0 40px 0));
		text-align: center;
		font-weight: bold;
	}

	.text {
		@include rem((margin-top: 50px));
		@include rem((margin-bottom: 50px));

		h3,
		p {
			text-align: center;
			display: block;
		}

		span {
			text-align: center;
		}

		h3 {
			a {
				@include rem((margin-bottom: 20px));
				color: $color-black-medium;
				@include rem(font-size, 24px);

				&:hover {
					color: $color-black-medium;
					cursor: pointer;
				}
			}
			// font-family: "ASans-Bold";
		}
	}
}
// Testimonials

.testimonial {
	background: $color-black-medium;

	#quote-carousel {
		@include rem((padding: 60px 10px 60px 10px));
		@include rem((margin-top: 30px));
		color: $color-white;

		.carousel-control {
			@include rem(font-size, 41px);
			@include rem((margin-top: 125px));
			background: none;
			color: $color-white;
			text-shadow: none;
		}

		.carousel-control.left {
			left: -60px;
		}

		.carousel-control.right {
			right: -60px;
		}

		.carousel-indicators {
			@include rem((margin-right: -19px));
			right: 50%;
			top: auto;
			bottom: 0;
		}

		.carousel-indicators li {
			@include rem((margin: 5px));
			width: 50px;
			height: 50px;
			cursor: pointer;
			border: 4px solid #CCC;
			border-radius: 50px;
			opacity: 0.4;
			overflow: hidden;
			transition: all 0.4s;
		}
	}

	.carousel-inner {
		.item p {
			@include rem(font-size, 28px);
			line-height: 34px;
		}
		@media (max-width: $screen-md) {
			.item p {
				@include rem(font-size, 18px);
			}
		}
	}

	.item blockquote {
		@include rem((margin: 0));
		border-left: none;
	}
}
