$color-background: #F9F9F9;

$color-white: #FFFFFF;
$color-black: #000000;

$color-blue-medium: #C8D2DC;
$color-blue-light: #E1F0F0;

$color-black-medium: #4B4B4B;
$color-black-light: #9B9B9B;

$color-gray-dark: #E1E1E1;
$color-gray-medium: #E6E6E6;
$color-gray-light: #F0F0F0;

$color-blue: #384B70;
$color-blue-light: #5BA6F6;
$color-red-t2w: #CC0000;
$color-red: #FE4444;
$color-yellow: #FFF07D;
$color-green: #9BC850;
$color-orange: #FFAA3C;
