%hero {
    width: auto;
    height: 400px;
    position: relative;

    &.small {
        height: 200px;
    }

    .hero-image {
        width: 100%;
        background-color: $color-red-t2w;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;

        .image-src {
            height: 100%;
            background-position: center center;
            background-repeat: no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            opacity: 0.5;
        }
    }

    .hero-text {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        @include flexbox;
        @include justify-content(center);

        .text {
            @include align-self(center);

            h1 {
                @include rem((margin-bottom: 20px));
                color: $color-white;
                text-align: center;

                a {
                    text-decoration: none;
                    color: inherit;
                }
            }

            h2 {
                @include rem((margin-bottom: 20px));
                color: $color-white;
                text-align: center;

                a {
                    text-decoration: none;
                    color: inherit;
                }
            }
            @media (max-width: $screen-md) {
                h1 {
                    @include rem(font-size, 28px);
                }

                h2 {
                    @include rem(font-size, 18px);
                }
            }
        }
    }
}
