@import url( 'https://fonts.googleapis.com/css?family=Open+Sans');
$font-size-base: 18px;
$font-line-height: 30px;
$font-regular: 'Open Sans', sans-serif;

a,
p {
  @include rem(font-size, 18px);
  line-height: $font-line-height;
  font-family: $font-regular;
}

ol,
ul {
  li {
    @include rem(font-size, 18px);
    line-height: $font-line-height;
    font-family: $font-regular;
  }

  ol,
  ul {}
}

button,
button.btn {
  @include rem(font-size, 18px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-regular;
  margin-top: 0;
  margin-bottom: 0;
}

h1 {
  @include rem(font-size, 36px);
  line-height: 46px;
}

h2 {
  @include rem(font-size, 30px);
  line-height: 33px;
}

h3 {
  @include rem(font-size, 24px);
  line-height: 30px;
}

h4 {
  @include rem(font-size, 18px);
  line-height: 20px;
}

h5 {
  @include rem(font-size, 14px);
  line-height: 16px;
}

h6 {
  @include rem(font-size, 12px);
  line-height: 14px;
}
